<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Off Topic</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <!-- bootstrap -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>


  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

  <script type="text/javascript">
  window.user = {{{user}}};
  </script>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Off Topic</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left user-search" role="search">
          <div class="form-group">
            <input type="text" class="form-control user-search-input" placeholder="Search for Friends">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Posts</h1>
        <div class="row">
          <form class="form-inline" id="newPostForm">
            <div class="form-group">
              <div class="input-group">
                <textarea type="text" class="form-control col-xs-11 post-input" rows:"0" name="text" placeholder="What's on your mind?"></textarea>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-lg">Post</button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div id="postTarget" class="">

          <script id="posts-template" type="text/x-handlebars-template">

            <div class="post" data-post-id=\{{_id}}>
              <div class="only-post">
                <div class="row">

                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-warning edit-post-button">Edit</button>
                    <button type="button" class="btn btn-info update-post-button hidden" style="border-radius: 4px 0px 0px 4px">Save</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item btn btn-danger pull-right delete-post-button">Delete</button>
                    </div>
                  </div>
                  <!-- <button class="btn btn-danger btn-xs pull-right delete-post-button">x</button> -->
                  <img class="col-xs-2 responsive"src="\{{author.image}}"><h4>\{{author.username}} at \{{date}}</h4>
                </div>
                <div class="row">
                  <div class="post-text col-xs-10 col-xs-offset-1">
                    <p class="post-text-display">\{{text}}</p>
                    <input type="text" class="edit-post-form form-control hidden" name="text" value="\{{text}}">
                  </div>
                </div>
                <div class="row">
                  <div class="input-group post-bar" role="group" aria-label="">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary like-post-button" name="likes" value="1">+</button>
                      <button type="button" class="btn btn-info like-post-display" data-toggle="popover" data-trigger="focus" data-placement="bottom">\{{likes.length}}</button>
                      <div class="hidden like-popover">
                        \{{#each likes}}
                        <p>\{{username}}</p>
                        \{{/each}}
                      </div>
                    </span>
                    <form class="comment-form">
                      <input name="text" class="form-control comment-input" style="border-radius: 0px" placeholder="Comment"/>
                      <span class="input-group-btn">
                        <button class="btn btn-primary">Comment</button>
                      </span>
                    </form>

                  </div>
                </div>
              </div>
              <div class="only-comment">
                \{{#each comments}}
                <div class="row comment" data-comment-id="\{{_id}}">
                  <div class="input-group comment-bar" role="group" aria-label="">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary like-comment-button" name="likes" value="1">+</button>
                      <button type="button" class="btn btn-info like-comment-display" data-toggle="popover" data-trigger="focus" data-placement="bottom">\{{likes.length}}</button>
                      <div class="hidden like-popover">
                        \{{#each likes}}
                        <p>\{{username}}</p>
                        \{{/each}}
                      </div>
                    </span>
                    <div class="comment-content">
                      <p class="col-xs-9 comment-text">\{{author.username}}: \{{text}}</p>

                      <form class="comment-edit-form">
                        <div class="comment-edit-padding">
                          <input name="text" class="form-control comment-edit-input hidden" style="border-radius: 0px" placeholder="Comment" value="\{{text}}"/>
                        </div>
                      </form>
                    </div>
                    <span class="input-group-btn comment-dropdown">
                      <div class="btn-group pull-right">
                        <button type="button" class="btn btn-warning edit-comment-button">Edit</button>
                        <button type="button" class="btn btn-info update-comment-button hidden" style="border-radius: 0px">Save</button>
                        <button type="button" class="btn btn-danger delete-comment-button">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                      </div>
                    </span>

                  </div>
                </div>
                \{{/each}}
              </div>
            </div>

          </script>


          <script id="comment-template" type="text/x-handlebars-template">
            <div class="row comment" data-comment-id="\{{_id}}">
              <div class="input-group comment-bar" role="group" aria-label="">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary like-comment-button" name="likes" value="1">+</button>
                  <button type="button" class="btn btn-info like-comment-display" data-toggle="popover" data-trigger="focus" data-placement="bottom">\{{likes.length}}</button>
                  <div class="hidden like-popover">
                    \{{#each likes}}
                    <p>\{{username}}</p>
                    \{{/each}}
                  </div>
                </span>
                <div class="comment-content">
                  <p class="col-xs-9 comment-text">\{{author.username}}: \{{text}}</p>

                  <form class="comment-edit-form">
                    <div class="comment-edit-padding">
                      <input name="text" class="form-control comment-edit-input hidden" style="border-radius: 0px" placeholder="Comment" value="\{{text}}"/>
                    </div>
                  </form>
                </div>
                <span class="input-group-btn comment-dropdown">
                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-warning edit-comment-button">Edit</button>
                    <button type="button" class="btn btn-info update-comment-button hidden" style="border-radius: 0px">Save</button>
                    <button type="button" class="btn btn-danger delete-comment-button">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </span>

              </div>
            </div>
          </script>


          <div class="modal fade found-user-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Here is what we found:</h4>
                </div>
                <div class="found-user-modal-body">
                  <script id="found-user-template" type="text/x-handlebars-template">
                    <div class="row" data-user-id=\{{_id}}>
                      <img  class="profile-image responsive col-xs-2" src=\{{image}}>
                      <p class="col-xs-7">\{{username}}</p>
                      <button class="btn btn-primary add-friend-button col-xs-3">Add as Friend</button>
                      <button class="btn btn-danger delete-friend-button hidden col-xs-3">Delete as Friend</button>
                    </div>
                  </script>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->






        </div>
      </div>
    </div>
  </div>





</body>
</html>
